[2021-01-04 13:35] M-PRERNA opened #1 "IMPROVED README WITH IMAGES"
Hello maintainers !!!
We can improve the readme with some images and stats.
If you feel so, then please assign this issue to me!!!

[2021-01-04 13:37] manan-bedi2908 opened #2 "Create a Logo for this project"

[2021-01-04 14:11] srimani-programmer commented on #1
@M-PRERNA Assigned this issue to you. please proceed with it.

[2021-01-04 14:21] M-PRERNA commented on #1
Sure I'll make the PR soon.

[2021-01-04 18:59] amandp13 commented on #2
@manan-bedi2908 Can you please Assign me this issue as part of SWOC 2021

[2021-01-04 19:02] srimani-programmer commented on #2
@amandp13 you are work on this issue. The Logo should be unique and follow the proper guidelines that should not harase anyone or a particular thing.

[2021-01-04 19:07] amandp13 commented on #2
Yeah, will create the PR soon, you can review that.

[2021-01-04 19:17] manan-bedi2908 opened #6 "Create an image dataset for predicting Breast-Cancer"

[2021-01-04 19:19] manan-bedi2908 opened #7 "Design a Navbar for the Website for predicting Breast-Cancer"
We need to develop a website or a User Interface where we'll have information about Breast Cancer and a form for getting the inputs for prediction
But first, we need a beautiful navbar for the website

[2021-01-05 04:29] manan-bedi2908 opened #8 "Create a Logistic Regression Model for predicting Breast-Cancer using Numerical Data"

[2021-01-05 06:09] Himanshi2016 commented on #8
Hello Sir !
I want to work on this project and on this issue also but I am a beginner So will you please guide me how to start and how to solve this issue ?

[2021-01-05 06:22] srimani-programmer commented on #8
@manan-bedi2908 please guide him with the appropriate procedue.

[2021-01-05 07:15] manan-bedi2908 commented on #8
@Himanshi2016 Hi, so basically, you have to create a Logistics Regression Model to predict the Breast Cancer first. You may select the appropriate features from the numerical data provided in the repo
For any doubts, you can ping me on slack personally Manan Bedi (M) in the Project Channel. Would be happy to help you!

[2021-01-05 07:17] manan-bedi2908 opened #9 "Create a Banner for the Website"
Just below the navbar, just add a designer banner containing the heading and an image

[2021-01-05 07:24] manan-bedi2908 opened #10 "Create a Random Forest Classifier to predict Breast Cancer using Numerical Data"

[2021-01-05 07:42] ckmganesh commented on #10
Hey, where can we find the dataset for the same

[2021-01-05 07:55] Himanshi2016 commented on #8
okay sir, Thank you

[2021-01-05 08:04] TanweerulHaque commented on #10
Sir, I want to be assigned this issue and proceed with the same.

[2021-01-05 08:06] TanweerulHaque commented on #8
Hello Sir, I want to be assigned this issue and proceed with the same. I can contribute to it.

[2021-01-05 08:22] manan-bedi2908 commented on #8
@TanweerulHaque Assigned to you! Go ahead

@Himanshi2016 , you can still ask your doubt and work for creating other models. The method is generally same

[2021-01-05 08:26] manan-bedi2908 commented on #10
@ckmganesh, there is a file named Breast Cancer Data.csv in the repo itself. You can use that

[2021-01-05 08:45] ckmganesh commented on #10
Okay.
Can you assign this to me

[2021-01-05 09:32] amandp13 commented on #6
@manan-bedi2908 Allow me to work on this issue [SWOC 2021]

[2021-01-05 09:33] amandp13 commented on #2
@manan-bedi2908 @srimani-programmer  Created the PR, Do review.

[2021-01-05 09:35] manan-bedi2908 commented on #6
@amandp13 Assigned, go ahead!

[2021-01-05 10:19] patel-atul commented on #7
@manan-bedi2908 can i work on it. Please assign me this issue.

[2021-01-05 10:32] manan-bedi2908 commented on #7
@patel-atul Assigned, Go ahead!

[2021-01-05 10:40] amberkakkar01 opened #12 "Sir I want to add data visualization files and different machine learning algorithm"

[2021-01-05 10:41] amberkakkar01 commented on #12
Add data visualization files and different machine learning algorithm

[2021-01-05 11:17] etendra2501 commented on #9
hello sir, I want to design the bannner and image. please assign this issue

[2021-01-05 11:20] manan-bedi2908 commented on #9
@etendra2501 Assigned, go ahead!

[2021-01-05 11:22] etendra2501 commented on #9
Thank you so much sir

[2021-01-05 11:56] manan-bedi2908 commented on #10
@ckmganesh Assigned, Go ahead!

[2021-01-05 12:10] srimani-programmer commented on #12
@amberkakkar01 what kind of ML algorithms do you want to add?

[2021-01-05 13:04] amberkakkar01 commented on #12
Apart from VISUALISING THE DATA i want to add SVC model! Allow me to do these changes

[2021-01-05 14:16] mayank8200 opened #13 "Feature Engineering and Data Cleaning in Breast-Cancer using Numerical Data"

[2021-01-05 17:44] kritikashah20 commented on #13
Can I work on this issue?

[2021-01-05 18:11] srimani-programmer commented on #13
@kritikashah20 issue is assigned to you. You can start working on it.

[2021-01-06 01:55] tnahddisttud commented on #7
I want to work on it.

[2021-01-06 05:32] spursbyte opened #14 "Exploring Other Classification Models and comparing accuracies[SWOC21]"
exploring other classification models like SVM , K-NN etc. and comparing accuracies.

[2021-01-06 08:35] amandp13 commented on #6
@manan-bedi2908 I have gathered Both the Image and CSV Dataset, Should I commit both?

[2021-01-06 09:04] manan-bedi2908 commented on #6
@amandp13 For now, commit only image dataset, csv dataset is already available in the repo.
If we require csv dataset in future, we'll create another issue

[2021-01-06 09:33] M-PRERNA commented on #1
Heyy !!! had few doubts, where can I connect with you?

[2021-01-06 09:42] srimani-programmer commented on #14
@spursbyte proceed with the issue.

[2021-01-06 09:45] srimani-programmer commented on #1
send me your queries to my mail id: srimanikantapalakollu@gmail.com or else ping me on whatsapp: 9912575995

[2021-01-06 09:59] M-PRERNA commented on #1
ok sure, sir !!!

[2021-01-06 18:23] amandp13 commented on #6
@manan-bedi2908 Done. Please review #15

[2021-01-06 18:58] srimani-programmer opened #16 "Develop a website for our application"
**Features of the Website**

1. It should have a good looking UI.
2. It should have good responsiveness.
3. It should contain all the details regarding Breast cancer.
4. It should contain the contributor's names as well.

**Technologies Allowed**

- HTML5
- CSS3
- Javascript
- Bootstrap

**NOTE:**  No high-level frameworks like React, Angular, Vue are strictly not allowed.

**Bonus Points:** The O

[2021-01-06 19:00] srimani-programmer commented on #2
#11 Done with the issue.

[2021-01-06 19:01] #2 closed

[2021-01-06 19:01] srimani-programmer commented on #6
#15 Done with the issue.

[2021-01-06 19:05] srimani-programmer commented on #6
@amandp13 could you please make another PR of the image dataset to the New_pipeline branch.

[2021-01-06 19:10] amandp13 commented on #6
@srimani-programmer Okay.

[2021-01-06 19:20] amandp13 commented on #6
@srimani-programmer It is showing as follows:

On branch New_Pipeline
Your branch is up to date with 'origin/New_Pipeline'.
nothing to commit, working tree clean

[2021-01-07 06:53] spursbyte commented on #14
ok can you just assign me or will the pr be still counted?

[2021-01-07 09:33] anushavc commented on #16
can i work on this issue?

[2021-01-08 03:59] srimani-programmer commented on #16
@anushavc Yeah Sure you can proceed with the work.

[2021-01-08 11:27] kritikashah20 commented on #13
@srimani-programmer, I don't know how but in assignees my name is not visible. Will that create a problem? Can you please assign again. I have finished the task, I will create a pull request today itself.

[2021-01-08 11:30] srimani-programmer commented on #13
@kritikashah20 It doesn't cause any issue for you Don't worry.!🙂

[2021-01-08 18:38] kritikashah20 commented on #13
@srimani-programmer  I have created a PR via a new branch "feature_engineering" after performing data analysis. Also, I have added the Cleaned dataset csv sheet. Please review my PR and suggest if any changes have to be made.

[2021-01-09 06:23] M-PRERNA commented on #1
@srimani-programmer This issue is still open, do I need to make more changes?

[2021-01-09 08:26] srimani-programmer commented on #1
Sorry, @M-PRERNA forgot to close this issue.

[2021-01-09 08:26] #1 closed

[2021-01-09 17:43] kritikashah20 commented on #13
Please review my new PR and suggest changes if required.

[2021-01-10 16:42] #13 closed

[2021-01-10 16:43] #8 closed

[2021-01-10 16:59] mayank8200 opened #28 "Create a frontend for taking inputs and displaying outputs.(Flask - Preffered)"

[2021-01-11 11:10] #28 closed

[2021-01-12 03:37] akrish4 opened #30 "Integrate Welcome and Greeting Bot"
Hi @srimani-programmer

I would like to add a welcome bot that will greet all users who opens a issue , opens a pr and when pr gets merged
If you feel this is a great idea let me know
Kindly do assign me

For reference, kindly check out: https://github.com/apps/welcome

[2021-01-12 04:06] srimani-programmer commented on #30
@akrish4 yeah! You can proceed with your issue.

[2021-01-12 06:21] akrish4 commented on #30
Pls do assign it here in github @srimani-programmer

[2021-01-13 05:52] #16 closed

[2021-01-13 05:54] srimani-programmer opened #31 "Redesign the Readme Application images with the newly developed Application."
Update the README Appropriately with good looking changes and It should contain good description with newly developed Application. Don't change any existing README just remove the old application images with new application images and add the appropriate description.

[2021-01-13 05:56] srimani-programmer opened #32 "Add new Design at the PREDICT Area of the newely Application"
Change the Application UI with good design at the **PREDICT Button** section.

[2021-01-13 18:51] ckmganesh commented on #10
Sorry for the delay, got caught with exams, Sent a pr, pls verify it and let me know if any changes are required

[2021-01-15 13:58] museHD commented on #31
It seems that the latest images have been already added to the readme?
Which branch are you talking about?

[2021-01-15 14:09] srimani-programmer commented on #31
@museHD Application UI is redesigned so add those applications appropriately.

[2021-01-15 16:04] museHD commented on #31
Has it been redesigned in new_pipeline or in master? Because UI in master looked like the one showed in readme

[2021-01-15 17:45] srimani-programmer commented on #31
new_pipeline branch and also you should make PR for new_pipeline only not for master. Please read the contribution guidelines carefully.

[2021-01-22 05:10] TanweerulHaque commented on #12
Hello Sir, If the issue is still open and there's work needed to be done, can i proceed with the same ?? @srimani-programmer

[2021-01-23 10:21] srimani-programmer commented on #30
@akrish4 I already assigned it to you.

[2021-01-31 09:27] deytulsi18 commented on #32
Can I try to do this task @srimani-programmer ?

[2021-01-31 17:44] srimani-programmer commented on #32
Yeah.! @deytulsi18 you can work on this. I have assigned it to you.

[2021-02-04 17:50] manan-bedi2908 opened #35 "Plot visuals of the dataset using Matplotlib, Seaborn or Plotly"

[2021-02-09 17:08] Abhayraj1707 commented on #35
I want to work on this issue please assign me this.

[2021-02-09 18:38] manan-bedi2908 commented on #35
@Abhayraj1707 Assigned, You can work on this issue

[2021-02-18 09:41] tanya162 commented on #31
Please allow me to work on this issue. I will add some data visualization graphs in readme which will make it more interactive, as well as I will add the visualization of  the accuracy which will increase trust among the users of this project.
Kindly assign me this issue.

[2021-02-18 14:11] kopal17 commented on #35
I am interested in collaborating on this project issue. Please assign me this.

[2021-02-18 14:14] kopal17 commented on #9
If, the issue is not resolved yet, please assign me, I am interested.

[2021-02-18 17:24] tanya162 opened #37 "Increasing accuracy of the model upto 99% by using neural networks"
The accuracy of this model can be increased by using neural networks . This will increase efficiency of this project.

[2021-02-18 17:53] manan-bedi2908 commented on #35
@Abhayraj1707 Hi, are you currently working on this issue?

[2021-02-18 17:54] manan-bedi2908 commented on #9
@kopal17 Assigned to you, go ahead

[2021-02-18 18:05] Abhayraj1707 commented on #35
yup, I will make pr or within 1 or 2 days

[2021-02-19 05:44] MiHarsh opened #38 "New Feature Addition"
Hello Sir/ Madam,

I was wondering if I could add **Predict via Image** to this Project. Use of Computer Vision would benefit for the accuracy as well as would ease a lot in predicting. We will just need to upload an Image and get the Results. Also as it would be an addon, the initial way (random forest) would also be available as well as Predict via Image would also be functional.

Later on we ca

[2021-02-19 07:23] kopal17 commented on #9
@manan-bedi2908 thanks for assigning me.

[2021-02-19 16:59] srimani-programmer commented on #32
@deytulsi18 Are you working on this issue?

[2021-02-19 17:00] srimani-programmer commented on #31
@tanya162 Assigned issue to you. kindly follow the guidelines properly.

[2021-02-19 17:01] #6 closed

[2021-02-20 08:00] tanya162 commented on #31
I have added the data visualization images and updated the readme. Please go through the pull request and let me know if I can improve it any way.

[2021-02-23 04:56] rohansharma4050 commented on #35
Hi, I am a GSSoC'21 participant and would like to work on this issue. Can you assign this to me?

[2021-02-23 06:36] anirudhsai20 commented on #31
Hi @srimani-programmer . Can you please assign this issuw to me under SWOC?

[2021-02-25 13:59] Aayush-hub commented on #30
@srimani-programmer Can I work on it, if its still open?

[2021-02-27 03:18] akrish4 commented on #30
yes I am working on it , I was busy with my exams ..

[2021-02-27 03:38] akrish4 commented on #30
#41 PR

[2021-02-27 15:11] #30 closed

[2021-02-28 07:07] tanya162 commented on #37
I have worked a lot on neural networks and I have a code that can increase the accuracy , will you please assign me this issue so that I can work on this issue further

[2021-02-28 09:47] sunidhi1999-c commented on #35
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-03-02 17:26] Bhavik-Ardeshna commented on #7
Anybody is working on this issue

[2021-03-02 17:26] Bhavik-Ardeshna commented on #7
I am working on this issue please assign to me

[2021-03-02 18:24] Bhavik-Ardeshna commented on #9
@kopal17 you are working on this issue otherwise I am done with banner

[2021-03-03 17:15] kulendu opened #44 "Improve the documentation"
Hey, @srimani-programmer I wanted to improve the documentation of this project. Adding some necessary changes, adding some **icons, gifs, images** to the documentation will make it look more appealing and easy to read for the newbies, wanted to contribute to this project.

[2021-03-03 17:25] srimani-programmer commented on #44
@kulendu Assigning this issue to you. You can start working on this. please kindly confirm are you contributing as part of GSSOC'21?

[2021-03-03 17:35] kulendu commented on #44
sure, I will be working on this issue (#44), and yes I would be contributing it as a part of GSSOC'21.

Thanks

[2021-03-05 20:00] sudipg4112001 opened #46 "New feature"
I would like to add a new feature to determine whether medical loan will be approved to the patients family. Using the dataset below.
https://www.kaggle.com/ninzaami/loan-predication?select=train_u6lujuX_CVtuZ9i+%281%29.csv

I am a GSSOC'21 participant

[2021-03-08 13:19] sankalp-srivastava commented on #35
Please assign me to this

[2021-03-08 14:27] tiyarocks commented on #37
hey i can work on this issue too! please assign this to me

[2021-03-08 14:30] tiyarocks commented on #38
hey i want to work on this issue plz assign it to me

[2021-03-08 18:05] srimontidutta commented on #44
Can I contribute to this issue? (GSSoC 21)

[2021-03-09 11:40] srimontidutta opened #47 "New feature"
Hello, I want to work on a feature where breast cancer can be detected using various parameters as inputs.
Can you please assign this issue to me for GSSoC 21?

[2021-03-09 13:29] MILIND-RAJ commented on #37
Hi, before asking for assignment of this task to me, I have tried to reach to 99% testing accuracy using neural networks and I have accomplished this task, the model is ready, so you can assign the task to me.

[2021-03-09 13:58] kulendu commented on #44
@srimani-programmer can you please make a label for GSSoC'21 here in this issue. According to the code of conduct its mandatory for the issues to be labelled as GSSoC'21 for counting the contributions

[2021-03-09 16:21] srimani-programmer commented on #38
@MiHarsh your idea is good please make an issue with the proper name. I am closing this issue for now. please raise a new one with complete details.

[2021-03-09 16:21] #38 closed

[2021-03-09 16:44] VpkPrasanna opened #48 "Fast API based API"
Instead of using Flask to serve the model in realtime @srimani-programmer , we can use something called [Fast API](https://fastapi.tiangolo.com/). With that we can able to move our builded api to production ready easily.
I have raised this issue as a part of **GSOC21**

[2021-03-09 17:23] virusps12 commented on #35
Hello , I am interested in this issue can you please assign me this issue . I am a participant of GSSOC-21

[2021-03-09 17:27] codeshruti opened #49 "Try other ensemble models on the dataset"
Use Models like XGBoost, LightGBM with Hyperparameter tuning.

I am a GSSOC'21 Participant.

[2021-03-09 19:44] Sloth-Panda opened #50 "issue and pr templates"
would like to add these templates to this repo as part of gssoc'21. Let me know .

@srimani-programmer

[2021-03-09 19:45] Sloth-Panda opened #51 "contributing file"
would like to add contributing file to this repo as part of gssoc'21 @srimani-programmer

[2021-03-09 19:57] KISHU-123 opened #52 "Increasing Random Forest Classifier Accuracy"
Improving the accuracy of random forest for numerical data and CNN for Image data prediction as a part of GSSOC'21.

[2021-03-09 20:11] Pavithra2206 commented on #44
hi @srimani-programmer can i also be assigned this issue ? im a gssoc'21 participant

[2021-03-10 04:45] techpkd123 commented on #44
Hi @srimani-programmer can I also work upon this issue as a Gssoc'21 participant?

[2021-03-10 11:12] thesakshipandey commented on #9
It's easy to add banner, I can work as the theme and provide the banner

[2021-03-10 11:13] thesakshipandey commented on #32
Can I work on this issue?

[2021-03-10 13:28] thesakshipandey opened #54 "Adding a favicon"
I have good experience in making a favicon,
can you assign me this issue under GSSoC'21?

[2021-03-10 13:36] anjiii-18 commented on #35
Hii, I am interested to work for this issue under GSSOC 2021.

[2021-03-10 13:39] anjiii-18 commented on #52
Hii, I would like to work on this project under GSSOC 2021.

[2021-03-10 13:39] skybluee2001 commented on #49
Hii...I am a GSSOC'21 participant, and I would like to work on this issue. Kindly assign this issue to me!

[2021-03-10 13:41] anjiii-18 commented on #49
Hii, I would like to work on this project under GSSOC 2021.

[2021-03-10 13:47] skybluee2001 commented on #46
Hii...I am a GSSOC'21 participant, and I would like to work on this issue. I have worked on a similar problem before. Kindly assign this issue to me as a part of the GSSOC'21.

[2021-03-11 08:31] Aditi0102 commented on #49
Hello.... I would like to work on this project under GSSOC'21 and ensemble kNN and SVM models on the dataset and try to increase and compare the performance of the models.

[2021-03-11 08:38] Aditi0102 commented on #37
Hello.. I want to use various Customised CNN and Inception+CustomisedCNN to try and improve the accuracy to 99%.

[2021-03-11 09:50] Dishita2602 commented on #52
Hello, I am a GSSOC'21 participant and willing to work on this issue. I can improve accuracy of random forest by using hyperparameter tuning or use feature selection techniques i.e fisher's score, correlation coefficient, mean absolute difference. Hence looking forward to work on it.

[2021-03-11 09:59] Dishita2602 commented on #49
Hello ! I am GSSOC'21 participant and eagerly waiting to contribute on this project. I can use various ensemble learning models like XG Boost, AdaBoost , GBM, Random forest, Light GBM, Cat Boost and many more. I will try neat & clean code which will be very easy to understand. Kindly give me a chance !

[2021-03-11 11:16] Sibasish-Padhy commented on #44
Hi @srimani-programmer can I also work upon this as a Gssoc'21 participant?

[2021-03-11 17:24] khareyash05 commented on #51
May i work on this issue @Sloth-Panda ?

[2021-03-12 06:32] ayush237 opened #55 "Stacking the best performing Models to improve the accuracy"
I am a GSSoC21 participant (DISCORD username: smoky237#5411 ), I can contribute to the project by stacking some of the best performing models together to improve the overall accuracy.
Kindly assign this work to me @manan-bedi2908 @srimani-programmer

[2021-03-12 08:07] srimani-programmer commented on #54
@thesakshipandey issue is assigned to you. please start your work on it.

[2021-03-12 08:09] srimani-programmer commented on #51
@Sloth-Panda please work on it. please complete on this issue ASAP.

[2021-03-12 08:10] srimani-programmer commented on #48
@VpkPrasanna Sorry we are not planning to use FAST API right now.  please work on any other issue.

[2021-03-12 08:10] #48 closed

[2021-03-12 08:11] srimani-programmer commented on #46
@sudipg4112001 please raise an issue with a proper title.

[2021-03-12 08:11] #46 closed

[2021-03-12 08:12] srimani-programmer commented on #47
@srimontidutta please raise your issue with a proper title and description in order to consider it.

[2021-03-12 08:12] #47 closed

[2021-03-12 08:12] Sloth-Panda commented on #51
Yes @srimani-programmer I am making the pr soon  can you please add  "level1/level2" tag to this issue as easy medium tags are not getting considered as per gssoc guideline

[2021-03-12 08:13] srimani-programmer commented on #50
@Sloth-Panda Your Idea is not able to understand please raise a proper issue that has a proper title and your work description.

[2021-03-12 08:13] #50 closed

[2021-03-12 08:25] srimani-programmer commented on #55
@ayush237 please add a proper description of what you want to do?

[2021-03-12 08:36] ayush237 commented on #55
I will train various bagging and boosting models.. and stack the best performing models together to create an even stronger algorithm.
Basically will use the Stacking technique on top models for a perfect classification

[2021-03-12 08:41] ritikkumar55 opened #60 "Web App using Streamlit To Predict Breast-Cance-Predictor"
Sir, I want to make an web app using streamlit  (as a beginner I'm not very good with flask)
to do the hyperparameters  optimization of various  Classification Algorithms :
like  SVC,  LogisticRegression, RandomForestClassifier and display the
classification metrics like  confusion_matrix, roc_curve, precision_recall_curve.

I am a GSSOC'21 participant.

[2021-03-12 08:43] Sloth-Panda commented on #50
@srimani-programmer let me describe would you?

[2021-03-12 09:01] malay5 opened #61 "No autofocus on form and text can be written in form"
There is no autofocus and text can be written in the form, which would later give an error during later computations.

[2021-03-12 10:50] thesakshipandey commented on #54
I did it, How am I suppose to pull request?

[2021-03-12 11:37] rohank2502 opened #63 "Will like to update the tech stack ( with logo)"
I will like to  add the logo of the tech stacks used in this project this will make the read me file of our project more attractive !!

[2021-03-12 13:02] malay5 commented on #54
$ git add .
$ git commit -m 'relevant message'
$ git push -u origin New_Pipeline

If you didn't name your branch New_Pipeline, write your branch name instead.

[2021-03-12 13:04] malay5 commented on #61
Please assign this task to me. This is part of GSSOC21.

[2021-03-12 16:15] srimani-programmer commented on #61
@malay5 Don't require that future actually.

[2021-03-12 16:15] #61 closed

[2021-03-12 16:16] srimani-programmer commented on #55
develop your stacking model @ayush237 then we will look into this.

[2021-03-12 16:26] #35 closed

[2021-03-12 16:28] #32 closed

[2021-03-12 16:59] dikshajoshi18 opened #64 "XG BOOST MODEL [GSSOC'21]"
I am a GSSoC 21 participant. I can contribute to the project by creating an XGBoost model for the Breast Cancer Prediction problem.
 Kindly assign this work to me @manan-bedi2908 @srimani-programmer
DISCORD: diksha#6684

[2021-03-12 17:00] dikshajoshi18 opened #65 "Creating EDA for the problem dataset"
I am a GSSoC 21 participant. I can contribute to the project by creating an Exploratory Data Analysis including possible feature Engineering and plots for Breast Cancer Prediction dataset
 Kindly assign this work to me @manan-bedi2908 @srimani-programmer
DISCORD: diksha#6684

[2021-03-12 17:35] Hamza3226 commented on #44
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:35] Hamza3226 commented on #51
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:36] Hamza3226 commented on #54
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:36] Hamza3226 commented on #55
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:36] Hamza3226 commented on #64
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 18:17] srimani-programmer commented on #65
@dikshajoshi18 EDA is not required right now for the project.

[2021-03-12 18:17] #65 closed, assigned to nobody

[2021-03-12 18:18] srimani-programmer commented on #64
@Hamza3226 Someone has already started working on this XG-Boost related issue.

[2021-03-12 18:22] srimani-programmer commented on #60
@ritikkumar55 we don't require any contribution related to streamlit. Thanks.

[2021-03-12 18:22] srimani-programmer commented on #60
@ritikkumar55 we don't require any contribution related to streamlit. Thanks.

[2021-03-12 18:23] #49 closed

[2021-03-12 23:55] sayan9112 commented on #51
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-13 07:08] honey2158 commented on #51
Hello, I am GSSOC'21 participant and I would like to contribute in this project. I will try to implement other models for this project and to improve it's accuracy.

[2021-03-13 11:14] harry418 opened #69 "Save and Load model"
we can use a pretrained model insted of training everytime. machine learning models like random forest have size in kbs. it will be a fast method.

[2021-03-13 11:44] rohansharma4050 opened #70 "prediction using numerical data"
I will be using the numerical data to train my model using SVM and KNN algorithms .
I would like to work on this under GSSOC21 @srimani-programmer can you please assign this to me

[2021-03-13 12:40] SandipPalit commented on #70
That are some of the basic ML models. Also try to think of some advanced models with better accuracy

[2021-03-13 12:41] SandipPalit commented on #69
But if we want to enhance the dataset. Will it work with pre trained models?

[2021-03-13 13:46] rohansharma4050 commented on #70
@SandipPalit along with the above algorithms I can build a neural network also for the same for increasing the accuracy

[2021-03-13 23:28] #70 closed

[2021-03-13 23:29] #69 closed

[2021-03-14 03:06] hrsht-13 opened #73 "Sir I want to preprocess the data before moving on to the training and testing."

[2021-03-14 03:10] hrsht-13 opened #74 "Instead of RandomForest other tree based/ensembled model can be used"

[2021-03-14 03:11] hrsht-13 opened #75 "Using an optimizer to get the optimal parameters for the model."

[2021-03-14 19:28] vaibhav-c commented on #74
I am a GSSOC 2021 participant. I would like to solve this issue using hierarchical clustering. Can you assign this to me?

[2021-03-15 03:46] Simar05519 commented on #37
I want to work on this issue. Please assign to me

[2021-03-15 03:47] Simar05519 commented on #74
I want to work on this issue. Please assign to me

[2021-03-15 04:42] HimanshiMetta commented on #55
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-15 05:45] ELITA04 commented on #12
Hi,
I am a participant of GSSOC'21 and want to work on this issue if it's not already done.
I want to create some data visualizations and work on comparing different ML algorithms to find the most optimal one.
Thank you!

[2021-03-15 08:14] JanhaviSoni opened #77 "Using various algorithms for model"
@srimani-programmer I would like to use various algorithms like
1. Logistic Regression
2. Nearest Neighbor
3. Support Vector Machines
4. Kernel SVM
5. Naive Bayes
6. Decision Tree Algorithm
7. Random Forest Classification
and get then use the best one with the maximum accuracy for the model.
Please assign this

[2021-03-15 09:04] AkhileshThite opened #78 "Would like to improve the accuracy of this model by various ML algorithms"

[2021-03-15 11:27] VpkPrasanna opened #79 "How can we use image dataset to predict better ?"
Is anyone working on images to train a model to predict the cancer , i would like to train a model on image with Pytorch as a background framework. I would like to work on this task

[2021-03-15 13:47] srimontidutta opened #80 "Prediction of type of Breast Cancer"
The project will consist of-
1. Prediction on the type of Breast Cancer from properties of tumor.
2. Using different model classifiers on different training sets to find out the most accurate one.

[2021-03-15 15:31] dashingdiptu12345 commented on #37
I want to work on this issue,you can assign it to me

[2021-03-15 17:04] srimani-programmer commented on #73
@hrsht-13 Data is being preprocessed already No need to implement this feature.

[2021-03-15 17:04] #73 closed

[2021-03-15 17:05] srimani-programmer commented on #80
@srimontidutta Could you please elaborate on your idea?

[2021-03-15 17:10] srimani-programmer commented on #79
@VpkPrasanna please create PR properly then i can assign it to you.

[2021-03-15 17:10] #79 closed

[2021-03-15 17:10] srimani-programmer commented on #78
@AkhileshThite please provide a proper description of your idea.

[2021-03-15 17:11] #75 closed

[2021-03-15 17:11] #74 closed

[2021-03-15 17:11] #77 closed

[2021-03-15 17:12] #78 closed

[2021-03-16 07:40] PSoni8 commented on #44
@srimani-programmer can I also work on issue #44?

[2021-03-16 08:02] AkhileshThite commented on #78
I'll apply all top classification algorithms on this model and will see which one is performing best with the help of performance metrics. Also would love to improve feature engineering.

[2021-03-16 09:08] Subhangini opened #81 "Issue Template missing"
Issue template is an important feature of any repo. When we create an  Issue, Issue template ask some questions related to the issue being created so that other contributors can know what the issue is and how we can solve it . This is missing in this project.

[2021-03-16 09:09] Subhangini commented on #81
I would like to work on this issue

[2021-03-16 09:09] Subhangini opened #82 "Pull request template missing"
PR template is an important feature of any repo. When we create a PR (Pull Request),  PR template ask some conditions which are necessary to fullfill before submitting a PR. This is missing in this project.

[2021-03-16 09:09] Subhangini commented on #82
I would like to work on this issue

[2021-03-16 12:43] Elizah550 commented on #80
Hey !!!
I have learned this through my learning journey.I want to work on this issue please assign it to me .
How I will work :
I will use logistic regression model to have best fit and predict our data. I think it can work out.

[2021-03-16 14:47] srimontidutta commented on #80
@srimani-programmer I will be predicting the type of breast cancer case based on the Wisconsin dataset. The prediction will be based on images present in the dataset. Starting with data analysis, I will try to correlate the various parameters present and then use different classifiers to predict the cancer type, and finally conclude with the best model for this analysis.

[2021-03-17 08:06] shanvijha30 commented on #54
@srimani-programmer is this issue available? I would like to work on it as a GSSoC (P).

[2021-03-17 09:33] ELITA04 opened #83 "Visualizations for the numerical dataset"
Hi,

I am a GSSOC'21 participant and I want to work on adding visualizations for the numerical data.
I will use plotly to create interactive charts and write python scripts for the same so that it can be integrated with the application.

Thank you.

[2021-03-17 12:47] Sloth-Panda commented on #51
@srimani-programmer can you please check this pr

[2021-03-17 15:34] ASHISH-GITHUB2495 opened #84 "We can add "Get in touch section" in the footer."
**Features that we can add**
We can have a footer with Get in touch section ... you have option to fill name, email and message which will go directly to the admin.
Like the screenshot i have attach ...
if you like the idea I would like to contribute as GSSOC'21 participant.

[2021-03-17 17:00] aayushi1908 commented on #83
Hello. Greetings from my side.
I'm Aayushi Bahukhandi, a participant of GSSOC'21. I would like to contribute to this issue - 'Visualizations for the numerical dataset'. As I've already worked on projects involving Python, Machine learning and Deep Learning, I'll create interactive charts using matplotlib and seaborn for visualizations of the datasets.
Also, I would create attractive plots like sca

[2021-03-17 17:02] aayushi1908 commented on #82
Hello.
I'm a GSSOC'21 participant and I'm eager to work on this issue. I have experience of working on ML based projects.
Thank you!

[2021-03-18 07:57] aayushi1908 commented on #84
Hello there. I'm Aayushi, a GSSOC'21 participant. I want to work on this issue. Please assign it to me.

[2021-03-18 08:06] sankalp-srivastava commented on #83
Hi,
I am Sankalp Srivastava and I have past experience with data visualization using python.
I am thinking to do a data analysis with pandas and draw graphs using seaborn and matplotlib.
Please assign this issue to me.
I am excited to work on this issue.
Thank you

[2021-03-18 08:19] aayushi1908 commented on #80
Hello. I'm Aayushi, a GSSOC'21 participant. I'm eager to work on this issue as I've already worked on a project similar to this.

In this, I've used Transfer Learning for Face Recognition--
https://aayushibahukhandi.blogspot.com/2020/06/face-recognition-by-transfer-learning.html
https://github.com/aayushi1908/Face-Recognition-by-TRANSFER-LEARNING.git

In this, I've tweaked a Deep Learning model us

[2021-03-18 08:23] aayushi1908 commented on #37
Hello. I'm Aayushi, a GSSOC'21 participant. I'm eager to work on this issue as I've already worked on a project similar to this.

In this, I've tweaked a Deep Learning model using DevOps to get the best accuracy--
https://mytask3.blogspot.com/2020/05/task-3-tweaking-architecture.html
https://github.com/aayushi1908/Task-3-MLOPs.git

Please have a look on the above links. My solution to your issue i

[2021-03-18 08:46] sabhya19 opened #85 "Deep Neural Network based classifier"
Hello, I am a GSSoC'21 participant and am experienced in deep neural networks.
The problem can be effectively solved by using a deep neural network for building the image classifier. I would like to work on this issue.

[2021-03-19 12:53] sal-glitch commented on #85
Hey if possible can I work on this issue with you too? I am also experienced in DL and have been exploring various kinds of neural nets. I am a GSSoC participant too.

[2021-03-20 05:57] DEEPIKA-SUK opened #89 "Improve UI for "Tumor.html" and also adding Auto scroll on homepage"
![Screenshot (105)](https://user-images.githubusercontent.com/64724039/111860683-29c3b900-896f-11eb-85af-f2d45c67a17b.png)

I would like to improve the UI for tumor section on homepage and also like to add auto scroll on the homepage.
Kindly assign me this issue as a part of GSSOC 2021.

[2021-03-20 06:08] DEEPIKA-SUK commented on #89
@srimani-programmer @vardhan-scripter  Kindly assign me this issue as a part of GSSOC 2021.

[2021-03-20 16:54] aditi1403 opened #90 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #87

[2021-03-21 10:19] SSHREYA71 commented on #14
I  am a particiapant of Gssoc'21 .Can I be assigned this issue?

[2021-03-21 10:25] SSHREYA71 commented on #10
I am a participant of Gssoc'21 please assign this issue to me.

[2021-03-21 23:29] jain-rishabh-21 opened #91 "Using Docker for setup as Alternative Way!"
Can we use docker as an alternative way for the setup process?

[2021-03-22 04:02] tripathi-abhishek commented on #90
I wish to take this. Could you please assign me for this?!

[2021-03-22 05:58] honey2158 commented on #51
What is it's pr?

[2021-03-24 13:12] srimani-programmer commented on #91
@jain-rishabh-21 Do you want to create Docker image for the project?

[2021-03-24 13:15] srimani-programmer commented on #90
@aditi1403 Assigned this to you.

[2021-03-24 13:16] #90 closed

[2021-03-24 13:17] srimani-programmer commented on #81
@Subhangini please provide a proper description of the issue.

[2021-03-24 13:24] srimani-programmer commented on #84
@ASHISH-GITHUB2495 where did you attached the Screenshot?

[2021-03-24 13:25] srimani-programmer commented on #82
@Subhangini What do you mean by PR template? please add the proper description of the issue.

[2021-03-24 13:26] srimani-programmer commented on #89
@DEEPIKA-SUK please follow the guidelines properly. Issues is assigned to you.

[2021-03-24 13:29] srimani-programmer commented on #80
@srimontidutta @Elizah550 @aayushi1908 please make your issue properly with descriptions.

[2021-03-24 13:57] #44 closed

[2021-03-24 17:45] jain-rishabh-21 commented on #91
Yes

[2021-03-24 18:17] sankalp-srivastava opened #96 "Train a neural network model on the dataset GSSOC'21"

[2021-03-24 18:19] sankalp-srivastava commented on #96
@srimani-programmer Please check pull request #94

[2021-03-24 18:35] tripathi-abhishek commented on #90
So my PR did not get merged after all. What happened?

[2021-03-24 19:10] DEEPIKA-SUK commented on #89
@srimani-programmer Kindly review my PR.

[2021-03-25 07:21] SSHREYA71 opened #98 "Using other classifiers to check their accuracy on the model. GSSOC'21"

[2021-03-25 12:09] Subhangini commented on #82
done

[2021-03-25 12:14] Subhangini commented on #81
Done!

[2021-03-25 13:07] arpit456jain opened #99 "Gssoc'21 Responsiveness of the website"
The website is not responsive I want to contribute in this project by making it fully responsive for all types of screen and improve its
design of home page.
Footer should take the full width of screen.
I am attaching a video for better understanding of my issue .

https://user-images.githubusercontent.com/55352601/112477375-f0d57b00-8d98-11eb-8fe8-a0ba9f2f9727.mp4

I am a Gssoc'21 participant Kin

[2021-03-25 13:12] arpit456jain commented on #99
I am thinking of adding a contact us page through which user can contact with us and a simple about us page for now in future it can modify further.
I will work on Design of this whole website and will try to improve it. @srimani-programmer please assign it to me if possible. Thank you.

[2021-03-28 05:28] Priyanshu078 opened #100 "Wrong file name in the project according to its use case"
the header file is named footer.html
footer.html should be header.html
![image](https://user-images.githubusercontent.com/66347715/112743372-59e50a80-8fb4-11eb-8fd7-37cd9df57073.png)

[2021-03-28 05:29] Priyanshu078 commented on #100
Please assign me this issue
I am a GSSOC participant

[2021-03-28 17:43] arpit456jain commented on #99
@srimani-programmer can i work on this issue.
If possible please assign it to me

[2021-03-28 21:12] ahmedtarek26 opened #101 "can we split data into train and test data"
I can split the data into 70 percent for train data and 30 percent for test data using the train_test_split function.
note : it's my first time for me at open source projects  :)

[2021-03-28 21:14] ahmedtarek26 opened #102 "Binary classification using CNN"
we should make a model for training data and make a model that could recognize new pics and know which kind of breast cancer at this pic

[2021-03-29 04:34] iamansoni commented on #51
Is this issue still needs to be addressed!
If yes, you can assign it to me!

[2021-03-30 21:52] arpit456jain opened #103 "[Gssoc'21] Back to top button"
I want to add a back to top button at the bottom.
@srimani-programmer Kindly assign it to me.

[2021-03-31 15:43] #99 closed

[2021-03-31 16:10] arpit456jain opened #104 "Dark-Mode with toggle button."
I want to add the dark mode in the website with a toggle button through which user can switch between light and dark mode

[2021-03-31 16:56] Priyanshu078 commented on #100
/assign

[2021-04-01 11:04] kulendu opened #105 "Making the Submit button center-aligned"
Making the Submit button center-aligned. Make it center-aligned and a bit more enlarged will make it look more better and minimal.

**Before :**
![Annotation 2021-04-01 162314](https://user-images.githubusercontent.com/56751963/113284629-89bf4580-9307-11eb-833b-e66aa58fe00b.png)
**After (making all the necessary changes):**
![Annotation 2021-04-01 162314](https://user-images.githubusercontent.com/

[2021-04-02 09:34] srimani-programmer commented on #98
@SSHREYA71 please raise an issue with the proper description and title.

[2021-04-02 09:34] #98 closed

[2021-04-02 09:42] srimani-programmer commented on #91
@jain-rishabh-21 please raise PR for the issue.

[2021-04-02 09:44] srimani-programmer commented on #105
@kulendu issue is assigned to you.

[2021-04-02 09:46] srimani-programmer commented on #104
@arpit456jain please go with the issue.

[2021-04-02 09:48] srimani-programmer commented on #103
@arpit456jain issue is assigned to you.

[2021-04-02 09:49] vardhan-scripter commented on #100
Please raise issues on new_pipeline branch. Don't touch master branch.

[2021-04-02 09:49] #100 closed

[2021-04-02 09:49] srimani-programmer commented on #102
@ahmedtarek26 issue is assigned to you.

[2021-04-02 09:50] srimani-programmer commented on #101
@ahmedtarek26 this feature is not required.

[2021-04-02 09:50] #101 closed

[2021-04-02 09:51] srimani-programmer commented on #85
@sabhya19 Already some models are developed in DL. please work on some other features.

[2021-04-02 09:51] #85 closed

[2021-04-02 09:52] sankalp-srivastava opened #106 "Create a menu based data visualization file GSSOC'21"
Create a file which plots different graphs on dataset based on the option selected in the menu

[2021-04-02 09:52] srimani-programmer commented on #84
@ASHISH-GITHUB2495 You're inactive with this issue. closing the issue.

[2021-04-02 09:52] #84 closed

[2021-04-02 09:53] srimani-programmer commented on #81
@Subhangini issue is assigning to you. please work on it.

[2021-04-02 09:53] #81 closed

[2021-04-02 09:54] srimani-programmer commented on #82
@Subhangini issue is assigned to you.

[2021-04-02 09:57] srimani-programmer commented on #83
@ELITA04 issue is assigned to you.!

[2021-04-02 09:59] #37 closed

[2021-04-02 10:00] vardhan-scripter commented on #106
@sankalp-srivastava issue is assigned to you

[2021-04-02 10:45] arpit456jain commented on #103
@srimani-programmer favicon is missing because of which it is giving an error which will effect the speed of website
<img width="960" alt="11" src="https://user-images.githubusercontent.com/55352601/113409299-9e1a4580-93ce-11eb-8653-142cbe35fa39.png">

Can I add a favicon??

[2021-04-02 11:08] arpit456jain commented on #104
@srimani-programmer the CSS is hard-code (inline CSS) dark mode can not be added until CSS is internal or external
I mean all CSS should be in a style tag or in a separate file style.css then only I can write CSS for dark mode.
Can I make a required changes in CSS.??

[2021-04-02 11:36] jain-rishabh-21 commented on #91
Hey @srimani-programmer , please raise the level of the issue. Dockerizing takes time!

[2021-04-02 22:05] Subhangini commented on #81
why you closed this issue? Your repo still doesn't contain Issue template

[2021-04-03 11:51] #96 closed

[2021-04-03 12:19] SarthakKeshari opened #110 "UI/UX design"
Hi,
I am Sarthak Keshari. I have command over UI designing and implementation.
I want to design a good UI for this project using Adobe XD.
Kindly assign this issue to me.
I am excited to work on this issue.
Thank you

[2021-04-03 14:17] vanshu25 opened #111 "Breast Cancer Prediction using RNN"

[2021-04-03 16:56] arpit456jain commented on #103
@srimani-programmer kindly review my PR #107

[2021-04-03 17:55] vardhan-scripter commented on #110
Hi @SarthakKeshari , I am assigning this issue with level 2. We have high expectations on UI. Evaluation will be little bit tuff so try to create more attractive UI.

[2021-04-03 18:48] SarthakKeshari commented on #110
@vardhan-scripter,
I would do my best to provide an acceptable and creative UI.

Before I begin with my work I would like to have an abstract, introduction and process involved in journey to build up this project. Along with that a short article relating to breast cancer preduction project. All this information will help me to present a good UI since I would know what all can be a part of UI/UX.

[2021-04-03 19:14] ahmedtarek26 commented on #101
okay

[2021-04-04 13:33] srimani-programmer commented on #111
@vanshu25 please add a proper description of the issue.

[2021-04-04 14:50] vanshu25 commented on #111
@srimani-programmer Sir, I want to train a deep neural network with the given dataset to predict the breast cancer type. By using RNN, an efficient model can be prepared which will use effective features and can produce a result with high accuracy.

[2021-04-05 16:17] einhawking commented on #89
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:18] einhawking commented on #110
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:18] einhawking commented on #103
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:20] einhawking commented on #106
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:20] einhawking commented on #105
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:20] einhawking commented on #104
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:21] einhawking commented on #102
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:21] einhawking commented on #91
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:21] einhawking commented on #83
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:21] einhawking commented on #55
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 16:26] arpit456jain commented on #103
@einhawking i am sorry but i had already done this and opened a PR.

[2021-04-05 16:26] arpit456jain commented on #104
@einhawking i am sorry this issue is already assigned to me

[2021-04-05 16:27] srishtij2000 commented on #9
Can I work on this issue?

[2021-04-05 16:27] srishtij2000 commented on #110
Can I work on this issue?

[2021-04-05 16:28] srishtij2000 commented on #105
Can I work on this issue?

[2021-04-05 16:29] srishtij2000 commented on #7
Can I work on this issue?

[2021-04-05 18:15] ahmedtarek26 commented on #102
Thanks i'll do this task and push it , could i contact u on LinkedIn or any
social media? , i need to ask some questions

On Fri, 2 Apr 2021, 11:49 am Sri Manikanta Palakollu, <
***@***.***> wrote:

[2021-04-06 02:46] kopal17 commented on #9
Yes go ahead

On Mon, 5 Apr, 2021, 9:57 PM Srishti Jain, ***@***.***> wrote:

[2021-04-06 04:10] srishtij2000 commented on #9
Please assign it to me

[2021-04-06 05:35] Dishita2602 commented on #83
I am interest if no work done then

[2021-04-06 11:52] Niketkumardheeryan opened #112 "Deep Learning to Improve Breast Cancer Early Detection on Screening Mammography"
You can take help from the latest published research paper based on the given title.

[2021-04-06 12:28] srisatya1197 opened #113 "I want to add the tech stack section with logos"
I want to add tech stack used in this read me file .I want to work on this issue . I'm a participant of GSSOC'21 please assign me this issue

[2021-04-08 06:09] honey2158 opened #114 "Improving the accuracy of model"
I want to improve the accuracy of model using different models like logistic regression, random forest.

[2021-04-09 16:01] salonidabgar commented on #112
Hi ! I want to work on this issue as a GSSOC'21 participant. Please assign me this issue.

[2021-04-13 17:01] #104 closed

[2021-04-14 06:31] #63 closed

[2021-04-16 12:32] srimani-programmer commented on #112
@salonidabgar Please work on this issue. The issue is assigned to you.

[2021-04-16 12:33] srimani-programmer commented on #111
@vanshu25 issue is assigned to you.

[2021-04-16 12:34] srimani-programmer commented on #113
@srisatya1197 please provide a proper description of your issue. The provided description is not clear to me.

[2021-04-16 12:34] #113 closed

[2021-04-16 12:34] srimani-programmer commented on #114
@honey2158 Your feature is not required for the project.

[2021-04-16 12:34] #114 closed

[2021-04-16 12:43] srimani-programmer opened #117 "Design a favicon for the project that should be relatable to the project."
Use the designing tools like Xd, Figma, or any other tool you wish or familiar with. Design a logo for the project that should fit as a favicon and if the logo looks good then it will be added to the main project as well.

[2021-04-16 19:08] MB2407 commented on #117
I would love to work on it, can you please assign me this issue?

[2021-04-17 05:36] #83 closed

[2021-04-17 06:31] JanhaviSoni opened #120 "Update Readme"
Adding Project set up using jupyter notebook

[2021-04-17 13:36] JanhaviSoni commented on #120
@srimani-programmer can I work on this issue

[2021-04-17 13:43] srimani-programmer commented on #117
@MB2407 please proceed with the issue.

[2021-04-17 13:43] srimani-programmer commented on #120
@JanhaviSoni This feature is not required as of now. Thanks for raising an issue.

[2021-04-17 13:43] #120 closed

[2021-04-17 13:48] #103 closed

[2021-04-17 13:48] #82 closed

[2021-04-17 13:49] srimanikantapalakollu commented on #110
@SarthakKeshari Are you working on this issue? please confirm if not I can assign it to others.

[2021-04-17 13:52] arpit456jain opened #121 "back to top button in new Pipeline"
back to top button in new Pipeline

[2021-04-17 13:54] arpit456jain commented on #121
@srimani-programmer kindly assign me this
i am creating the PR

[2021-04-17 13:54] srimanikantapalakollu commented on #121
@arpit456jain issue is assigned to you.

[2021-04-17 14:12] arpit456jain commented on #121
@srimani-programmer there is already a back to top button there 😅

[2021-04-17 14:13] arpit456jain commented on #121
its position is little bit wrong i am making it correct

[2021-04-17 14:26] arpit456jain commented on #121
@srimani-programmer I am closing this issue as there is already a back to top button

and

 I just change 20px to 15px and it is showing merge conflicts
leave it

 thank you for giving me a chance.

[2021-04-17 14:26] #121 closed, assigned to arpit456jain

[2021-04-19 18:36] MB2407 commented on #117
How should I submit the favicon? Should send it to you somewhere or post it here itself?

[2021-04-20 05:22] Ankita297 opened #124 "github action to Automerge the PRs from dependabot bot"
I want to add github action to automerge PR from dependabot
![done by Ankita297 · Pull Request #5 · Ankita297_Story - Google Chrome 17-04-2021 20_05_45](https://user-images.githubusercontent.com/67833077/115339073-b4dbdd00-a1c1-11eb-94f0-0bbfc56fb616.png)

I want to add a github action which will search for dependencies label as dependabot automatically add it .

[2021-04-21 08:20] srimanikantapalakollu commented on #124
@Ankita297 please proceed with the issue.

[2021-04-21 08:21] srimanikantapalakollu commented on #117
@MB2407 please upload it on the drive and share the link.

[2021-04-21 08:25] #106 closed

[2021-04-21 11:10] arpit456jain opened #126 "Dark mode"
I would like to add dark mode to website

[2021-04-21 17:28] MB2407 opened #127 "User Model in app.py"
User model creates a table using the Flask SQLAlchemy module and saves the data of the users who visit the Breast Cancer Predictor.

The moment the home.html i.e. the homepage of the Breast Cancer Predictor web application loads the user is prompted with a welcome box where he/she is asked to enter their name and email Id in order to keep a track of the users visiting the web application.

For the

[2021-04-21 17:40] MB2407 commented on #117
https://drive.google.com/drive/folders/1TvUzJaraQ4E-rFx_9GjU5QzbGtX765zk?usp=sharing

[2021-04-23 19:11] #126 closed, assigned to nobody

[2021-04-27 08:54] shreyasZ10 opened #128 "Submit button"
I am a participant of GSSOC'21. The submit button is left aligned. Making it central can make it look good. Also make some changes in the front-end like when you hover any item in form you can get what it actually means. Please assign me this issue.

[2021-04-27 10:14] srimanikantapalakollu commented on #117
@MB2407 Your designed icons are not good. If possible please redesign once again. or else please let me know I'll close the issue.

[2021-04-27 10:15] srimanikantapalakollu commented on #127
@MB2407 please proceed with the issue.

[2021-04-27 10:16] srimanikantapalakollu commented on #128
@shreyasZ10 please proceed with the issue.

[2021-04-27 13:47] MB2407 commented on #117
I'll design it once again, can you please give me some cue regarding what all should I improve on ,as in what is it expected to be like?

[2021-04-30 05:37] MB2407 commented on #127
I have made the necessary changes and made a pull request for the same yesterday. Can you please review for the same?

[2021-04-30 05:37] MB2407 commented on #128
Can I also work on this issue?

[2021-05-01 09:32] AliHaider20 opened #134 "Importing libraries"
Nice project @srimani-programmer . I just have a small request to keep the importing section on top as the project doesn't have another function to execute.

[2021-05-03 15:06] rish-singhal opened #137 "Uploading data instead of entering manually"
We can add a feature to upload a csv file with rows containing the data required, then we can process it to predict the value for all the rows

[2021-05-03 15:10] rish-singhal commented on #137
I can add this feature, if possible assing me

[2021-05-03 15:11] rish-singhal opened #138 "Instead of training model every time, we can store the trained model once."
Instead of training model every time, we can store the trained model once. It will save computational time too, and we can work on more than one model

[2021-05-06 05:02] srimanikantapalakollu commented on #134
@AliHaider20 Doesn't require this feature.

[2021-05-06 05:02] #134 closed, assigned to nobody

[2021-05-06 05:04] srimanikantapalakollu commented on #138
@rish-singhal please proceed with the issue.

[2021-05-06 05:05] srimanikantapalakollu commented on #137
@rish-singhal please proceed with the issue.

[2021-05-06 05:06] AliHaider20 commented on #134
It was just a small change. Np it is still ok.

[2021-05-10 04:59] Sristi27 opened #140 "UI change of the after Prediction page"
Data in that page can be aligned in a better manner which will enhance readability of the users.We can also use some other medical resources like best hospitals for curing the cancer and links to them.
Please assign me this issue as a part of GSSOC 21

[2021-05-11 15:13] arpit456jain opened #141 "Font Size is very big in phone view"
Font Size is very big in phone view
<img width="960" alt="font" src="https://user-images.githubusercontent.com/55352601/117840217-95544380-b299-11eb-9356-0b9912d4a2d9.png">

[2021-05-11 15:15] arpit456jain commented on #141
and this should be in  little bit center
<img width="960" alt="skld" src="https://user-images.githubusercontent.com/55352601/117840408-c16fc480-b299-11eb-865c-81fdd204b133.png">

[2021-05-11 15:16] arpit456jain commented on #141
and There is lot of un-necessary space

[2021-05-11 15:19] arpit456jain opened #142 "New And better Meet the Contributors! Section"
I can make a way better Meet the Contributors! Section which contains some cool hover effects

[2021-05-12 05:38] ainy-123 commented on #111
@vanshu25 Are you still working on this issue. If no, @srimani-programmer please assign this to me .Hoping for speedy reply .
Thanks!
I am GSSoC'21 participant and would like to contribute to this issue.

[2021-05-12 06:17] vanshu25 commented on #111
@ainy-123 Yes, I am working on this issue, in fact, I have already completed it and have pulled a PR for the same.

[2021-05-12 06:59] ainy-123 commented on #111
Thanks for the update.

[2021-05-21 15:15] subhangi2731 commented on #112
@srimani-programmer can u please assign this issue to me I see no pr has been made

[2021-05-21 15:59] srimanikantapalakollu commented on #142
@arpit456jain please work with the task. The issue is assigned to you.

[2021-05-21 16:01] srimanikantapalakollu commented on #141
@arpit456jain issue is assigned to you. Please Optimise that issue.

[2021-05-21 16:02] srimanikantapalakollu commented on #140
@Sristi27 please work on it.

[2021-05-21 16:18] arpit456jain commented on #142
Level 0 ?? Seriously ? Is it a level 0 issue? @srimani-programmer

[2021-05-21 17:21] srimanikantapalakollu commented on #142
Don't worry about the level based on your contribution I'll change the level. because most of the contributors are spamming that's why I'm not giving high levels before work.

[2021-05-21 17:22] arpit456jain commented on #142
ok i will do it

[2021-05-23 04:01] arpit456jain commented on #141
@srimani-programmer i am working on optimising the font size in this issue .

[2021-05-24 06:54] subhangi2731 commented on #112
@srimani-programmer please assign

[2021-05-25 07:21] JanhaviSoni commented on #105
@srimani-programmer I would like to work on this issue

[2021-05-27 07:37] #142 closed, assigned to arpit456jain

[2021-05-27 07:50] arpit456jain commented on #141
@srimani-programmer why you closed  this issue ?

[2021-05-27 10:59] arpit456jain commented on #141
@srimani-programmer this issue is not completed i think you close it by mistake

[2021-05-27 14:05] arpit456jain opened #145 "Adding 404 error handling code and 404.html page"

[2021-05-27 14:05] arpit456jain commented on #145
@srimani-programmer can i work on this issue?

[2021-05-29 18:45] JanhaviSoni commented on #105
@srimani-programmer Please assign this issue. I have made the PR also

[2021-05-30 15:31] arpit456jain commented on #145
@srimani-programmer

[2021-05-30 18:03] srimanikantapalakollu commented on #145
@arpit456jain please work on it.

[2021-05-30 18:05] arpit456jain commented on #145
@srimani-programmer i will do it . Just try to review it asap because tomorrow is last date of GSSoC'21

[2021-05-30 18:07] srimanikantapalakollu commented on #145
Okay

[2021-05-31 02:46] #145 closed, assigned to nobody

[2021-06-02 10:48] #141 closed, assigned to arpit456jain

[2021-06-02 11:32] harshakhmk commented on #137
@rish-singhal are you still working on this, if not I would like to work on this issue

[2021-06-02 11:55] rish-singhal commented on #137
@harshakhmk yes you can work on it.

[2021-06-02 12:42] harshakhmk commented on #137
should we provide an option to upload  a CSV file in django-admin or in the home page
many reports of single person or multiple persons would be there, should I render this data in a table, each row in a tabe would be the result of each row data in csv

[2021-06-03 12:09] harshakhmk commented on #137
Can someone guide me on how to proceed on this issue

[2021-06-30 18:51] Umesh-01 opened #151 "add some more badges to the README"
## Description
add some more badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

## Describe the solution you'd like

![image](https://user-images.githubusercont

[2021-06-30 19:21] Umesh-01 commented on #151
@srimani-programmer @manan-bedi2908 @amandp13 should I work on this issue??

[2021-07-06 11:47] aryantiwari10 opened #152 "Breast cancer prediction EDA and Prediction using different ML models"

[2021-07-12 04:20] CRYPTOcoderAS opened #153 "Save the Model as Pickle format."
Consumes less storage and computation time.
Easy to deploy also using flask and Heroku
@srimani-programmer plz assign this issue to me

[2021-08-30 04:24] ishikagoel5628 commented on #153
@srimani-programmer please assign this issue to me as I have worked on this before

[2022-02-28 14:35] yash623623 commented on #102
I am a participant GSSOC'22 and I would like to contribute in this @srimani-programmer

[2022-02-28 14:36] yash623623 commented on #152
@aryantiwari10  I am a GSSOC'22 participant  and i would like to contribute in this .....

[2022-02-28 14:41] yash623623 commented on #111
@srimani-programmer I would like to work on this issue, Please assign it to me

[2022-03-01 01:32] dona-samir commented on #152
@aryantiwari10  Hi ,I am a GSSOC'22 participant and  I would like to contribute in this repository  by using different models as logistic regression & svm

[2022-03-01 02:12] Krish2208 commented on #140
I would like to work on this issue(GSSoC '22)

[2022-03-01 02:59] Rishitha1234 commented on #152
@aryantiwari10 Hello ,I am a GSSOC'22 participant and I would like to contribute in this repository as it helps me to understand different ML models.

[2022-03-01 03:51] SayanSaha01 commented on #152
hello I am a GSSOC'22 participant and want to highlight several insights not visible to the naked eye thereby helping users to get a better understanding of their diagnosis. Can you assign this issue to me?

[2022-03-01 04:41] shivam-s16 commented on #152
Hello I am a GSSOC'22 participant and want to contribute on this project using various binary classification models .

[2022-03-01 05:22] srajan-kiyotaka opened #154 "Deep Learning Model To Predict Breast Cancer"
There is only one issue related to deep learning, which is in the latest paper/article,
but we can also try the classic neural network to do the same.
In some cases the classic Neural Networks work better.

[2022-03-01 05:24] srajan-kiyotaka commented on #154
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-01 05:31] aritra1804 commented on #7
Hey I am GSSOC 22 Participant
Can I work on this issue

[2022-03-01 06:21] Krish2208 opened #155 "Data Wastage"
Hello I am a GSSoC22 Contributor.

In the current implementation after testing the data on the 80-20 split, only 80% data is utilized for predicting the newer value leading a 20% wastage, instead after testing the data with 80-20 and setting up the hyperparameter accordingly, we can predict the new data by fitting the model again on the complete 100% data which will increase the accuracy and leadi

[2022-03-01 12:04] prabhashkumar11 commented on #153
Hi, I am Gssoc participant, I would like to work on this issue.

[2022-03-01 12:27] Venkatakrishnan-Ramesh commented on #111
i would like to work on this issue using RNN

[2022-03-01 12:28] Venkatakrishnan-Ramesh commented on #152
Hi ,I am a GSSOC'22 participant and I would like to contribute in this repository by using different models as logistic regression & svm,RNN,ANN

[2022-03-01 13:07] AniruddhA-Omni commented on #138
Hello, can you assign this issue to me?

[2022-03-01 13:09] AniruddhA-Omni commented on #153
I can easily do this part. Can you assign this issue to me?

[2022-03-01 13:41] logic-404 opened #156 "Making a mobile application using Kivy"
I will make an android application for this. It will make it more functional as it will be available on a mobile device. Kindly assign me the issue

[2022-03-01 13:43] Pradumnasaraf opened #157 "docs: Add Pull Request Template"
### Chnages
- Adding a PR template
- Template path **`.github/PULL_REQUEST_TEMPLATE.md`**

### Template Preview (while creating a PR.)
![Screenshot from 2022-03-01 17-54-32](https://user-images.githubusercontent.com/51878265/156168840-66822d65-3e60-4026-8064-f967d66cf94b.png)

#### Due to that we are also missing out on some checks on the community standards checklist

![Screenshot from 2022-03-01

[2022-03-01 15:11] AniruddhA-Omni commented on #154
Hello, I can work in this issue very well. I have already on this kind of project. You can assign this issue to me.

[2022-03-01 15:31] nikhil25803 commented on #156
Hey @logic-404, I am Nikhil Raj, a GSSoC participant
I would like to work on this too, can I work on this with you too, please assign it to me.

[2022-03-01 15:54] Pradumnasaraf opened #158 "docs: Add Issue Templates"
### Chnages
- Adding Issue templates
- Template path **`.github/ISSUE_TEMPLATE`**

###Template Types
![Screenshot from 2022-03-01 21-03-49](https://user-images.githubusercontent.com/51878265/156198784-b2e8d551-3df4-4aff-a7c7-051a88c344c0.png)

### Template Preview (while creating an issue - bug.)
![Screenshot from 2022-03-01 18-03-48](https://user-images.githubusercontent.com/51878265/156169861-53

[2022-03-01 19:31] gautamgc17 opened #159 "Use of open source AutoML libraries for breast cancer classification"
Hey I would like to work on open source AutoML frameworks such as Auto-Sklearn, TPOT, H2O AutoML etc for breast cancer prediction to figure out the best model for this task with optimized hyper-parameters. Then save the best model in pickle format for prediction in flask app. These frameworks help in automating some of the critical components of the machine learning pipeline such as:
- Select and

[2022-03-02 06:50] freny24 commented on #159
@gautamgc17  the issue has been assigned to you, kindly work on it!

[2022-03-02 07:11] freny24 commented on #155
@Krish2208 issue has been assigned to you. Kindly work on it!

[2022-03-02 07:21] freny24 commented on #152
@dona-samir  This is an old issue , kindly make a new issue and specify in description using which ML model you would like to contribute and why!?

[2022-03-02 07:23] freny24 commented on #152
@dona-samir @SayanSaha01 @Cody-coder017 @Rishitha1234 @yash623623 @shivam-s16   This is an old issue , kindly make a new issue and specify in description using which ML model you would like to contribute and why!?

[2022-03-02 07:25] freny24 commented on #153
@prabhashkumar11 you have been assigned this issue on fcfs basis. Kindly work on it!

[2022-03-02 07:54] MauryaRitesh opened #160 "Update Documentation"
Some grammatical mistakes are there.
E.g.
![Screenshot from 2022-03-02 13-19-39](https://user-images.githubusercontent.com/31176772/156318123-4e1065b6-82be-4b70-ba0a-cfa8f97c0112.png)
Random Forest Classifier, [which] gives ...

[2022-03-02 07:57] MauryaRitesh opened #161 "Fill the form data by uploading a CSV file"
Manually entering precise data takes a lot of time which can be avoided by adding a feature to upload data from a file(preferably CSV).

[2022-03-02 08:00] MauryaRitesh opened #162 "Add Dropdown Menu for selecting the form data from a given range."
A feature to select from a given list can save time while entering the data.

[2022-03-02 08:39] Krish2208 opened #164 "Model Accuracy instead of Prediction Accuracy is currently displayed."
In the current scenario, the accuracy score displayed on the results page is the accuracy of the predictor as a whole, while it should be the accuracy score of the current data provided.

I want to work on this issue under GSSoC 22.

[2022-03-02 09:51] theshredbox opened #165 "Creating a SVM for achieving higher accouracy (98%)"
Several methods show that ML techniques can show high accuracy levels ranging rom 90%- 97%. Since we have used RFR in the main branch, I'll be creating a SVM to show much higher accuracy.
Also, I'll be improving the model by normalizing the training data which is a scaling feature process. I'll be further searching hyperparameters for improving the model.

I want to work on this issue under GSSoC

[2022-03-02 09:53] freny24 commented on #164
@Krish2208 issue assigned! Kindly work on it

[2022-03-02 09:57] freny24 commented on #165
@theshredbox Issue has been assigned to you ! Kindly work on it.

[2022-03-02 10:05] freny24 commented on #160
@MauryaRitesh will you only rectify grammatical errors or you are gonna add more content to the document?

[2022-03-02 10:06] freny24 commented on #161
@MauryaRitesh issue has been assigned to you! Kindly work on it

[2022-03-02 10:07] freny24 commented on #161
Commit into New_pipeline branch and not to the master branch

[2022-03-02 10:09] freny24 commented on #162
@MauryaRitesh issue has been assigned to you!

[2022-03-02 10:12] freny24 commented on #154
@srajan-kiyotaka issue has been assigned on the basis of fcfs.

[2022-03-02 10:13] freny24 commented on #156
@logic-404 issue has been assigned on fcfs basis. kindly work on it

[2022-03-02 10:44] logic-404 commented on #156
Thank You for the assignment. I would like to set up some time with the project admin so that he/ she can explain me how the project works and what is expected from the application. Kindly advice me for the needful @freny24

[2022-03-02 11:31] MauryaRitesh commented on #160
I can add some more content under "About Project" and "Project Setup"(Installation of anaconda).
Further ideas are welcome.

[2022-03-02 13:45] DhairyaWankhade opened #167 "Creating XGBoost model for breast cancer prediction"
XGBoost is an algorithm that has recently been dominating applied machine learning and Kaggle competitions for structured or tabular data,  so may be in case of breast cancer prediction it can give better speed and performance.

[2022-03-02 14:37] Krish2208 commented on #164
Pull Request has been made to the issue #155. PR #168 also contains the resolution of this error.

[2022-03-02 15:28] tandrimasingha commented on #167
Name: Tandrima Singha
Github: https://github.com/tandrimasingha
Domain: machine learning
Aim: To create a model that predicts breast cancer using XGBoost

Hello Sir I would like to work on this issue

[2022-03-02 17:00] freny24 commented on #160
@MauryaRitesh  Sure , do add more content as well as rectify grammatical errors ! issue has been assigned to you

[2022-03-02 17:03] freny24 commented on #167
@DhairyaWankhade do provide the description for the project

[2022-03-02 17:13] tandrimasingha opened #169 "Beast Cancer Prediction with KNN, Naive Bayes, SVC"
Use three algorithms to determine the breast cancer and check which algorithm gives the best accuracy.

[2022-03-02 17:14] tandrimasingha commented on #169
Name: Tandrima Singha
Github: https://github.com/tandrimasingha
Domain: machine learning
Aim: To create a model that predicts breast cancer using 3 algorithms

Hello Sir I would like to work on this issue

[2022-03-02 17:39] Charu2510 commented on #158
@srimani-programmer Can i contribute in this? I am just a beginner.

[2022-03-02 17:47] freny24 commented on #167
@DhairyaWankhade issue has been assigned to you! kindly work on it

[2022-03-03 04:55] Suvodeep-Das opened #171 "Creating a model and comparing the accuracy of different algorithms"
Full Name: Suvodeep Das
GitHub Profile Link: https://github.com/Suvodeep-Das
Objective: Creating a model to predict Breast Cancer and test the model accuracy using different algorithms.

I would like to work on this issue.

[2022-03-03 05:38] freny24 opened #172 "Breast Cancer Prediction using Stacked GRU-LSTM-BRNN model."
Breast Cancer diagnosis is one of the most studied problems in the medical domain. Cancer diagnosis has been studied extensively, which instantiates the need for early prediction of cancer disease. To obtain advance prediction, health records are exploited and given as input to an automated system.
   Construct an automated system by employing deep learning based recurrent neural network models. A

[2022-03-03 05:44] freny24 opened #173 "Prediction using KNN"
Implementation of KNN algorithm for classification whether it is Malignant or Benign .
Dataset : https://www.kaggle.com/uciml/breast-cancer-wisconsin-data. (a different dataset can also be used!)

Comment down below if you are a GSSoc'22 participant and would like to contribute on this issue!

[2022-03-03 05:45] freny24 commented on #169
@tandrimasingha Are you a gssoc'22 participant?

[2022-03-03 05:46] freny24 commented on #171
@Suvodeep-Das Which algorithms will you be using for comparing?

[2022-03-03 05:54] freny24 opened #174 "Using Docker for Setup Process"
Implementation of Docker image as an alternative way for setup process.

Comment down below if you are a GSSoc'22 participant and would like to contribute on this issue!

[2022-03-03 05:56] Naidu-Saikiran commented on #173
I am a GSSoc'22 participant. I would like to contribute on this issue!

[2022-03-03 05:58] Charu2510 commented on #173
can i work this issue under GSSoC'22?

[2022-03-03 06:03] Suvodeep-Das commented on #171
Random Forest, Logistic Regression, Decision Tree

[2022-03-03 06:07] tandrimasingha commented on #169
Yeah

[2022-03-03 06:40] freny24 commented on #171
@Suvodeep-Das issue has been assigned!

[2022-03-03 06:43] freny24 opened #175 "Breast Cancer Prediction using Naive Bayes"
Implementation of Naive bayes to identify Malignant or Benign
Goal: have high accuracy, besides high precision and recall metrics.

Comment down below if you are a GSSoc'22 participant and would like to contribute on this issue!

[2022-03-03 06:48] freny24 opened #176 "Classification using Keras and deep learning"
Classify malignant or benign using keras and deep learning model ( CNN / RNN)

Comment down below if you are a GSSoc'22 participant and would like to contribute on this issue!

[2022-03-03 06:55] freny24 opened #177 "Redesign the Readme Application images"
Update the README Appropriately with good looking changes and It should contain good description with newly developed Application. Don't change any existing README just remove the old application images with new application images and add the appropriate description. You can add some data visualization graphs in readme which will make it more interactive, as well as add the visualization of the ac

[2022-03-03 06:59] freny24 commented on #169
@tandrimasingha which algorithms will you be using ? Already one participant is comparing Logistic Regression , Decision Tree and random forest. You'll have to use different algorithms!

[2022-03-03 07:00] freny24 commented on #173
@Saikirannaidu225 describe how will you work on this issue?

[2022-03-03 08:25] hemhemoh opened #178 "Using Transfer learning to train a deeplearning model"
Hi, I noticed there's no deep learning model for this project yet. However, some people have been assigned the task of building CNN,RNN and other deep learning architectures with the image dataset. I would like to work further on this dataset by training them on pretrained  models.
#GSSOC'22

[2022-03-03 10:20] AdityaTheDev opened #180 "Classification using both ML algorithm and Deeplearning (DNN). #GSSoC22"
Im a Gssoc22 contributor

[2022-03-03 10:21] ShreyaSriAN commented on #177
Hey @freny24 I'm a GSSoC '22 participant. Can you assign this issue to me?
Thanks!

[2022-03-03 12:35] shreya024 commented on #176
I am a GSSOC'22 participant and would like to contribute on this issue using keras and CNN. Kindly assign @freny24

[2022-03-03 12:53] MauryaRitesh commented on #172
Hi, I'm familiar with RNN but have to study BRNN. If you can give me a little extra time then I would love to work on this issue.

[2022-03-03 13:05] maityamit commented on #158
@srimani-programmer I want to work in this issue under **GSSoC'22** .
Please assign me .

[2022-03-03 13:07] maityamit commented on #157
@Pradumnasaraf I want to work this issue under **GSSoC'22**. 👋
Please assign me.

[2022-03-03 13:09] Pradumnasaraf commented on #157
Sorry, I am also a contributor, you can find some other issues to contribute to:).

[2022-03-03 13:09] Pradumnasaraf commented on #157
Sorry, I am also a contributor, you can find some other issues to contribute to:).

[2022-03-03 13:11] Pradumnasaraf commented on #158
@Charu2510 @maityamit, As per Gssoc you have to open an issue for yourself to work on, you can find some other issues to contribute to:).

[2022-03-03 14:58] KareemElozeiri commented on #173
I am a GSSoc'22 participant, Can I work on this issue?

[2022-03-03 15:00] KareemElozeiri commented on #173
I will process the data and feed it to the KNN algorithm that is already written in the sklearn library so that I do not re-invent that wheal and write the algorithm from scratch (approach description)

[2022-03-03 15:03] tandrimasingha commented on #169
I will use KNN, SVM, XGBoost. please assign this to me. I will use different algorithm than others

[2022-03-03 16:48] freny24 commented on #172
@MauryaRitesh  You can take your time ,but I'll have to assign it to others if they comment on it.  You can complete your previous issue and after that find a new one to work! Good Luck!

[2022-03-03 16:49] freny24 commented on #176
@shreya024 issue has been assigned to you! Kindly work on it.

[2022-03-03 16:51] freny24 commented on #177
@ShreyaSriAN issue has been assigned to you! kindly work on it.

[2022-03-03 16:53] freny24 commented on #180
@AdityaTheDev Do give a proper description for the issue , how would you work on it?

[2022-03-03 16:55] freny24 commented on #178
@hemhemoh It's a good issue , do work on it!

[2022-03-03 16:57] freny24 commented on #169
@tandrimasingha okay! issue has been assigned to you! Kindly work on it. Also , specify in title of issue which algorithms you'll be using.

[2022-03-03 17:16] MaiElBaradei commented on #175
I want to be assigned to this issue as a GSSOC contributor, please

[2022-03-03 18:25] freny24 commented on #175
@MaiElBaradei issue has been assigned to you! Kindly work on it

[2022-03-03 19:57] ApoorvYdv commented on #180
This is Apoorv Yadav
I would like to work on this issue
For the ML model i will be using classification algorithms like Logistic regression, svm and many more.
For the deep learning part i will be using Neural network and also apply transfer learning to get pretrained weights.
In the end i will be concluding with which has the best accuracy.

[2022-03-03 20:03] ApoorvYdv commented on #172
I would like to work on this issue i have knowledge about GRU and LSTM models and how they work and could definitely contribute on this issue

[2022-03-04 01:51] AdityaTheDev commented on #180
I would like to create a neural network model for prediction. A basic Deep neural network not a CNN

[2022-03-04 02:14] prajwal-3-14159 commented on #173
I would like to contribute, I am interested in participating in GSSoc 2021.

[2022-03-04 04:47] Naidu-Saikiran commented on #173
I will use knn algorithm from sklearn library  to train the model. before doing it I will do the exploratory data analysis to understand the data and their relations .After that I will split the data into train and test data to train and test the KNN model.
I will use model metrics to evaluate the  performance of the algorithm

[2022-03-04 05:20] freny24 commented on #180
@Apoorv-17 Hey! Applying transfer learning issue is already taken up  by a participant.

[2022-03-04 05:22] freny24 commented on #180
@AdityaTheDev could you please elaborate ? As RNN / CNN / LSTM / BRNN is already covered up in another issues!

[2022-03-04 05:25] freny24 commented on #172
@Apoorv-17 issue has been assigned to you ! Kindly work on it

[2022-03-04 06:41] harsh5902 opened #181 "Adding a database"
A new user who will come to the site will also generate data. The prediction will tell that there is any breast cancer or not and after knowing the actual result we can append that data to our Breast Cancer.csv which will give us data to predict with more precision.

[2022-03-04 07:56] Sash002 commented on #175
I want to work on this, please!

[2022-03-04 08:01] freny24 commented on #181
@harsh5902 issue has been assigned to you! Good luck with your work!

[2022-03-04 09:00] inirah02 commented on #31
I want to work on this issue
I'm GSSoC'22 Contributor

[2022-03-04 09:01] inirah02 commented on #173
I want to work on this issue
I'm GSSoC'22 Contributor

[2022-03-04 09:03] ShashankRaturi commented on #152
Hello sir , i have participated in GSSOC'22 and would like to contribute to this issue

[2022-03-04 09:07] ShashankRaturi commented on #167
Can i contribute to this issue if its not handled yet?

[2022-03-04 09:19] freny24 commented on #152
@ShashankRaturi We have renewed this issue and its taken by a contributor already!

[2022-03-04 09:26] ShashankRaturi commented on #152
Okay , no problem.

[2022-03-04 10:11] AdityaTheDev commented on #180
Sentiment analysis using various NLP techniques like rnn, birnn, lstm and brnn

[2022-03-04 14:02] Ayushi-0803 commented on #181
I want to work under this issue ..plz assign me the same.!!

[2022-03-04 14:04] Ayushi-0803 commented on #161
I want to contribute under this issue..plzz assign me the same!!

[2022-03-04 14:33] Ayushi-0803 opened #183 "FEEDBACK FORM AND OPINION"
FEEDBACK FORM:
Asking the users for their valuable feedback for our website for its consistent improvement and knowing the issues faced by users
OPINION FORM
to be circulated among the  breast cancer experts asking them about their opinion to add new columns in our website for better prediction of breast cancer ....

[2022-03-04 16:32] freny24 commented on #183
@Ayushi-0803 Hey! This issue is similar to issue #181 .

[2022-03-05 09:53] mo1998 commented on #173
Hi, i am GSSoC'22 contributor and would like to work on this issue.
I have worked on similar project with same data set with accuracy score 96.5%.
Steps to be followed:
1- Analysis the data to get better understanding of parameters and thier relationships.
2- Drop unnecessary features.
3- Dealing with outliers.
4- Feature selection using VIF.
5- Train the model using KNN algorithm with (euclidean,

[2022-03-05 10:11] nicolemd7 commented on #173
Hi,I'm a GGSOC contributor I have made a pull request (#185) for this issue  using Neighborhood Component Analysis I have achieved 99% accuracy,please review

[2022-03-05 10:12] nicolemd7 commented on #151
I would like to be assigned this issue, I have some ideas would love to implement

[2022-03-05 10:16] nicolemd7 commented on #169
Hello Sir I would like to be assigned this, I want to add ensemble machine learning models to it

[2022-03-05 10:17] nicolemd7 commented on #165
Hi I have done this in an SVC model pull request #185 in which I have achieved  98% accuracy

[2022-03-05 10:18] nicolemd7 commented on #175
I would like to be assigned to this issue thank you

[2022-03-05 11:43] srajan-kiyotaka commented on #154
@freny24
I am working on it,
Will create a pull request in 2 to 3 days.

[2022-03-05 14:30] nicolemd7 opened #186 "Classification Using Ensemble learning techniques"
Hello I am a contributor, I would like to contribute by using ensemble machine learning algorithms like bagging, boosting, stacking, voting to the model

[2022-03-05 14:32] nicolemd7 opened #187 "Feature Selection"
I am a contributor I would like to add feature selection techniques like svd, lda, pca and other non linear feature selection techniques to further optimize the model

[2022-03-05 14:33] nicolemd7 commented on #173
I am a contributor can I be assigned this issue

[2022-03-05 14:34] nicolemd7 commented on #173
for this issue I plan on using Neighborhood Component Analysis for which the accuracy will go up to 99%

[2022-03-05 14:42] salma77 commented on #174
@freny24 Can you assign me to this issue please?

[2022-03-05 14:43] freny24 commented on #186
@nicolemd7 issue has been assigned to you! Good luck!

[2022-03-05 14:47] freny24 commented on #187
@nicolemd7 Hey ! you can work on the previous issue for now! only one issue can be done at a time by a contributor. I'll assign it to you later if no one else comments on it

[2022-03-05 14:49] nicolemd7 commented on #187
Alright :)

[2022-03-05 14:49] freny24 commented on #174
@salma77 issue has been assigned to you ! Good luck

[2022-03-05 14:49] salma77 commented on #174
@freny24 thanks

[2022-03-05 19:32] srajan-kiyotaka opened #190 "Data Visualization of Breast Cancer Dataset"
I have already completed the Data Visualization part,
Creating the issue to create the pull request.

[2022-03-05 19:33] srajan-kiyotaka commented on #190
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-05 23:13] dona-samir commented on #173
Hi, i am GSSoC'22 contributor and would like to work on this issue ,I have worked on knn model.
1. do data Analysis & preprocessing if need it .
2. check relation between features to drop unnecessary features.
3- Train the model using KNN algorithm with hyperparameter Tuning.
4- Evaluate model performance.

[2022-03-05 23:13] dona-samir commented on #173
Hi, I am GSSoC'22 contributor ,I have worked on knn model.
1. do data Analysis & preprocessing if need it .
2. check relation between features to drop unnecessary features.
3- Train the model using KNN algorithm with hyperparameter Tuning.
4- Evaluate model performance.

[2022-03-05 23:22] dona-samir commented on #173
Hi, I am GSSoC'22 contributor ,I have worked with knn model.
1. do data Analysis & preprocessing if need it .
2. check relation between features to drop unnecessary features.
3. Train the model using KNN algorithm with hyperparameter Tuning.
4.  Evaluate model performance.

[2022-03-06 06:53] srajan-kiyotaka commented on #154
@freny24
I had created the Pull Request.
Please Check!

[2022-03-06 06:56] srajan-kiyotaka opened #192 "CNN Model To Predict Breast Cancer Using Image"
I will use the image data set to predict the type of breast cancer,
using the convolutional neural network model.
I usually work with CNN model!

[2022-03-06 06:57] srajan-kiyotaka commented on #192
Hii!
I am a participant in GSSOC'22. Please assign me this issue.

[2022-03-06 14:43] Nishita-2402 commented on #7
Can I work on this issue ?

[2022-03-06 18:58] devmalik7 opened #196 "Model to Predict Breast Cancer using EvalML"
Hello I am a contributor, I would like to contribute by creating the model to predict the breast cancer using EvalML(Automated Machine Learning library)

[2022-03-07 10:23] #153 closed, assigned to prabhashkumar11

[2022-03-08 13:50] pranay-009 opened #197 "Applying boosting algorithm to get better accuracy"
I want to use boosting algorithms for better results

[2022-03-09 09:17] Keyurchaniyara commented on #192
Hello

I am a GSSoC22 contributor. I would like to work on this issue .I have already worked with CNN model in breast cancer project . Please do assign this to me.

Thank You :)

[2022-03-09 09:21] Keyurchaniyara commented on #190
Hello

I am a GSSoC22 contributor. I would like to work on this issue .I had done data visualization with different types of dataset. Please assign me this issue.

Thank You :)

[2022-03-09 09:27] Keyurchaniyara commented on #175
Hello

I am a GSSoC22 contributor. I would like to work on this issue .I have already worked with Naive Bayes model in breast cancer project . Please do assign this to me.

Thank You :)

[2022-03-09 09:37] Keyurchaniyara commented on #171
Hello

I am a GSSoC22 contributor. I would like to compare transfer learning method VGG16, INCEPTION V3, RESNET on image dataset. I had already worked with 3 algorithm in breast cancer detection. Please do assign this to me.

Thank You :)

[2022-03-09 09:42] YatreeLadani commented on #187
Hello

I am a GSSoC22 contributor. I would like to work on this issue .I had done feature selection with different types of dataset. Please assign me this issue.

Thank You :)

[2022-03-09 09:48] YatreeLadani commented on #173
Hello

I am a GSSoC22 contributor. I would like to work on this issue .I have already worked with KNN model in breast cancer project . Please do assign this to me.

1- Do data Analysis & preprocessing & scaling.
2- Check relation between features to drop unnecessary features.
3- Dealing with outliers.
4- Feature engineering.
5- Train the model using KNN algorithm with hyperparameter Tuning.
6- Eva

[2022-03-09 09:50] YatreeLadani commented on #186
Hello

I am a GSSoC22 contributor. I would like to work on this issue . Please do assign this to me.

1- Do data Analysis & preprocessing & scaling.
2- Check relation between features to drop unnecessary features.
3- Dealing with outliers.
4- Feature engineering.
5- Train the model using KNN algorithm with hyperparameter Tuning.
6- Evaluate model performance with matrix.

Thank You :)

[2022-03-09 10:55] freny24 commented on #171
@Keyurchaniyara can you create a different issue specifying the algoritms you wanna compare? This issue has been assigned to someone already

[2022-03-09 10:59] freny24 commented on #197
@pranay-009 Hey! boosting is already covered up in different issue!

[2022-03-09 11:01] freny24 commented on #196
@devmalik7 issue has been assigned to you ! Kindly note that only python scripts are allowed to integrate it into flask. No jupyter notebooks!

[2022-03-09 11:13] freny24 commented on #156
@logic-404 Hey you can take your time, do some reasearch on it , there are many projects on BCP using different implementations , you can check that out too and start working on your Application!

[2022-03-09 11:52] freny24 commented on #192
@srajan-kiyotaka Issue has been assigned ! work on it! Please refer to it , that only python scripts are allowed to integrate it into flask, no jupyter nb!

[2022-03-09 12:21] MaiElBaradei commented on #175
I am working on it. Thank you

[2022-03-09 13:42] prachi1211 commented on #183
Hello,
I am GSSOC Contributor. I will be delighted to take this task.
Thank you.

[2022-03-09 13:53] Keyurchaniyara commented on #171
@freny24  I can't understand what you say.... should I contribute in another issue or else I create new issue and then contribute in it....

[2022-03-09 14:03] freny24 commented on #171
@Keyurchaniyara Create a new issue , add in the title the algorithms you wanna compare , get it assigned and start working on it!

[2022-03-09 16:45] Keyurchaniyara opened #199 "Compare different Transfer learning method on image dataset"
Hello

I am a GSSoC22 contributor. I would like to compare transfer learning method VGG16, INCEPTION V3, RESNET on image dataset. I had already worked with 3 algorithm in breast cancer detection. Please do assign this to me.

Thank You :)

[2022-03-09 17:14] srajan-kiyotaka commented on #192
@freny24
Sure I will start working on it!

[2022-03-10 09:29] hemhemoh commented on #172
I would like to work with Apoorv-17 on this issue, is that possible?

[2022-03-10 09:34] hemhemoh opened #201 "Ensembling/ Stacking different pretrained weights for the classification. #GSSOC'22"
Hi, I recently raised an issue where I said I was going to use transfer learning for the dataset, which I have done and created a pull request for(VGG16). However, in the cause of my research, I found out that medical imaging is a field where ML is currently thriving, so my 0.947 validation accuracy might not be good enough as every 0.1 matters here. I would appreciate it if this issue is assigned

[2022-03-10 09:45] hemhemoh commented on #178
@freny24 I have worked on that of VGG16 and created a pr. I will be working on other pre-trained models too

[2022-03-10 17:04] freny24 commented on #199
@Keyurchaniyara  issue has been assigned to you! Good Luck!

[2022-03-10 17:51] shrut-09 commented on #173
hey, I would like to work on this issue. I am a GSSoC'22 contributor. I am a beginner and would like to work and learn

[2022-03-12 05:35] Priyanka-Chettri commented on #175
Hey, I am Priyanka Chettri please consider me next on the queue

[2022-03-13 13:49] Fancy-angel opened #203 "Breast Cancer Detection using adaboost classifier"
can you please assign this .

[2022-03-13 13:55] umangtank opened #204 "Adding Logging Module"
Hello

I am a GSSoC22 contributor. I would like to add logging module to save all the logs.
Can you please assign this....Thank You 👍🏻

[2022-03-14 04:09] prabhashkumar11 commented on #153
i have done, but i am facing problem in uploading on github.

[2022-03-14 05:41] Keyurchaniyara commented on #199
Thank you for giving me this opportunity.

Approach:

0. Create a Jupyter file
1. Clean the image data(remove Redundant images)
2. Data Preprocessing(data generation)
3. Create different transferlearning model
4. Show classification report
5. Plot Visualization graph
6. Compare accuracy

[2022-03-17 08:50] freny24 commented on #204
@umangtank issue has been assigned to you! Kindly work on it

[2022-03-17 16:22] freny24 commented on #201
@hemhemoh issue has been assigned to you! Good Luck

[2022-03-17 16:26] freny24 commented on #203
@Fancy-angel hey add a proper description

[2022-03-17 16:27] #197 closed, assigned to nobody

[2022-03-17 16:27] freny24 commented on #190
@srajan-kiyotaka work on it!! issue has been assigned

[2022-03-17 16:29] freny24 commented on #183
@Ayushi-0803 do work on your issue! Good Luck

[2022-03-17 16:33] freny24 commented on #180
@AdityaTheDev  Do work on it! compare different models in your code!

[2022-03-17 21:29] miretteamin commented on #203
Can you please assign this issue to me?

[2022-03-17 21:36] miretteamin commented on #203
Hii!
I am a participant in GSSOC'22. Can you please assign me this issue.
I've worked a lot with decision trees, boosting algorithms and deep learning.
I've read research papers about Deep Learning with AdaBoost for breast cancer detection also I can use AdaBoost-CNN.
Thank You.

[2022-03-17 21:41] miretteamin commented on #173
Hii!
I am a participant in GSSOC'22. Can you please assign me this issue.
I've implemented KNN before from scratch and used it in ZINDI competition of Blood Spectroscopy Classification and I've also used it digit recognizer.
Thank You.

[2022-03-18 04:33] Pradumnasaraf commented on #157
@vanshhhhh Can you please review this PR

[2022-03-18 04:34] Pradumnasaraf commented on #157
@freny24 @vanshhhhh Can you please review this PR

[2022-03-20 05:07] WhiteWolf47 opened #209 "Breast_Cancer_Predictions_using_LogisticRegressor_DecisionTree_RandomForestClassifer_Model"
Training  LogisticReressor, DecisionTree and RandomForestClassifier models for Breast cancer predictions.

[2022-03-20 16:42] freny24 commented on #209
@WhiteWolf47 Hey! These topics are already covered up in another issue.

[2022-03-21 03:35] WhiteWolf47 commented on #209
i cannot find that issue, can you please tell me which one it is # , so i can contribute to that issue

[2022-03-21 07:34] Chaitanya1211 commented on #203
Hey
I am a participant in GSSOC'22.
Could you please assign it to me
I have previously worked with many algorithms in deep learning and neural networks
This will be a bit easy for me

[2022-03-21 17:15] freny24 commented on #209
@WhiteWolf47 The similar issue is issue no #171 . Also , you cannot take up that issue, its been assigned to another contributor. You can come up with different issue . Good Luck!

[2022-03-24 13:50] miretteamin commented on #203
\assign

[2022-03-24 13:50] miretteamin commented on #203
/assign

[2022-03-24 13:52] miretteamin opened #213 "Breast Cancer Predictions using CatBoost"
I want this issue to be assigned for me. Thank you!

[2022-03-24 13:57] miretteamin commented on #173
/assign

[2022-03-29 19:45] Shweta2024 commented on #213
Hello! I'm a GSSoC'22 Contributor. I read about CatBoost and its implementation. So, I would like to contribute to this. Please assign this issue to me.
Thank you

[2022-03-29 19:48] Shweta2024 commented on #190
@freny24 I'm a GSSoC'22 Contributor.I would like to perform the data visualization of breast cancer dataset.
Please assign this issue to me.
Thank you

[2022-03-29 20:00] Shweta2024 opened #216 "EDA and Decision Tree Algorithm for predicting Breast Cancer"
Hello! I am a GSSoC'22 Contributor. I would like to do EDA followed by using the Decision Tree Algorithm. Please assign this task to me.
Thank you!

[2022-03-30 06:13] freny24 commented on #190
@Shweta2024 This issue has been already assgined to another contributor. Comment on another unassigned issue or you can create your own issue :)

[2022-03-30 06:15] freny24 commented on #216
@Shweta2024 Sorry, decision tree algorithm is already covered up in another issue and it has been assigned too!

[2022-03-30 06:15] freny24 commented on #213
@miretteamin Please provide a proper description!

[2022-04-01 14:41] miretteamin commented on #213
Hello, @freny24
I used Catboost in Zindi competition: Blood Spectroscopy Classification Challenge.
So, I'm suggesting using Catboost Model developed by Yandex as it's way faster than XGboost and It performs better, and compare the model with Random Forest and Logistic Regression which are already implemented.
I want to use both datasets the numerical one and images dataset and pass both to the mod

[2022-04-01 16:43] WhiteWolf47 opened #217 "XGBClassifier"
Breast Cancer predictions using CSV data and XGBClassifier.

[2022-04-01 18:40] hemhemoh commented on #178
@freny24 HI, please I am ready to create a new pr and my previous pr has not been merged, Can you please merge that one, so I can go ahead to create a new pr

[2022-04-07 20:38] hemhemoh commented on #201
@freny24 please close this issue, the pull request has been merged

[2022-04-08 04:53] freny24 commented on #217
@WhiteWolf47 hey this issue is already been taken up

[2022-04-08 04:53] #217 closed, assigned to nobody

[2022-04-08 04:54] freny24 commented on #213
@miretteamin This is a great issue! Do work on it , Good Luck :)

[2022-04-08 04:56] #201 closed, assigned to hemhemoh

[2022-04-08 16:41] heymansi commented on #203
Heyy
I am participant in GSSOC'22
I have worked with few Deep learning algorithms and some decision trees, and used CNN previously
Currently reading research papers for Deep Learning with adaboost.
Could you assign me this issue
Thank you

[2022-04-08 16:44] heymansi commented on #187
Hey
I am GSSoC'22 contributor.
Have worked on feature selection with numeric as well as image dataset.
Could you assign me this issue?
Thank you

[2022-04-11 13:28] #158 closed, assigned to Pradumnasaraf

[2022-04-11 13:28] #157 closed, assigned to Pradumnasaraf

[2022-04-11 19:50] rohitpadage commented on #196
I am GSSoC 22 Contributor. I would like to work on this issue.

[2022-04-13 00:35] hemhemoh opened #218 "Add a walkthrough/description file"
The ReadME of this project is comprehensive enough but I'd love to take it upon myself to add a walkthrough file to this project. The walkthrough file explains the files available in the project and can help new comers get started. #GSSOC'22

[2022-04-13 05:36] Neha-Niharika-Kar commented on #173
Hello. I am a GSSoC'22 contributor. I'm completely new to open source. I would like to work on this issue.

[2022-04-14 16:49] anushkashelke commented on #218
Hello! I am a GSSoC'22 Contributor. I would like to add a walkthrough file to this project. Please assign this task to me.
Thank you!

[2022-04-20 05:34] AniruddhA-Omni commented on #203
Hello, can u assign this issue to me? I have worked on this type of project

[2022-04-20 07:27] freny24 commented on #218
@hemhemoh issue has been assigned to you! Good luck!

[2022-04-20 07:28] #216 closed, assigned to nobody

[2022-04-20 07:30] freny24 commented on #218
@anushkashelke Hey , the issue creator itself gets the chance to make the respective PR. If mentors or PA creates an issue , you can comment on them or create your own issue!

[2022-04-20 07:32] freny24 commented on #173
@Saikirannaidu225 issue has been assigned to you on first come first serve basis! do work on it

[2022-04-20 12:07] jadhav-tejas opened #219 "Breast Cancer prediction using CNN"
I would like to work on this issue. It will make use of deep learning and Keras to detect breast cancer as malignant or benign

[2022-04-21 18:51] TG922 commented on #218
Is someone working on this issue??

[2022-04-21 19:33] hemhemoh commented on #218
@TG922 yes I am

[2022-04-21 22:03] TG922 opened #220 "Adding CNN Model To Predict Breast Cancer with the help of an Image"
- I would like to add CNN Model To Predict Breast Cancer
- I will use the image dataset to predict the type of breast cancer

[2022-04-22 09:50] #220 closed, assigned to nobody

[2022-04-29 15:54] ghost commented on #186
Can  you assign me this issue please ?

[2022-04-29 15:56] ghost commented on #175
Can you assign me this issue @freny24 I will use naive bayes algorithm to show if it's malinagnat orbengin

[2022-04-29 15:56] ghost commented on #169
Can you assign me this issue ?

[2022-04-29 15:59] freny24 commented on #186
@tasneemahmed123 issue has been assigned. Kindly work on it

[2022-04-29 16:00] ghost commented on #186
Thanks sir , I will start working on it @freny24

[2022-04-30 04:51] #155 closed, assigned to Krish2208

[2022-04-30 04:51] #164 closed, assigned to Krish2208

[2022-04-30 04:53] #199 closed, assigned to Keyurchaniyara

[2022-05-03 20:32] hemhemoh opened #224 "Catboost model"
While working on the walkthrough file, I noticed that only a RandomForest Model was built for this project, I would love to build another model using catboost.

[2022-05-15 19:38] navyasharma0203 commented on #172
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:38] navyasharma0203 commented on #169
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:39] navyasharma0203 commented on #173
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:40] navyasharma0203 commented on #190
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:41] navyasharma0203 commented on #111
I would like to work on this issue. Can you assign this to me?

[2022-05-18 10:13] #213 closed, assigned to miretteamin

[2022-05-19 03:58] rishabhj0110 commented on #54
Is this issue still available?
If yes, I would like to contribute under GSSOC'22

[2022-05-28 12:40] coolblizzarts commented on #192
Hello, can I work on this issue?

[2022-06-05 18:20] divik2510 commented on #203
Hello, I want to work on this as I have prior knowledge of adaboost classifer algorithm. Please assign this issue to me.